In [ ]:
# Learning Panda

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

%matplotlib inline

In [ ]:
time_course_df = pd.read_excel('Time-course_2.xlsx', 'S1(1-342)-C  + Y.hCAD', index_col=None, na_values=[0]) # Read excel 'Time-course_2.xlsx' with sheet 'S1(1-342)-C  + Y.hCAD' to dataframe

In [27]:
time_course_df.head()

,Slide: Slide1 2um iono@7min,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Image: S1(1-342)-C + Y.hCAD - 4,NaN,NaN,NaN,NaN,NaN,NaN
1,Mask: Mask 1,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-19 12:34:42,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Mean Intensity (ADU), ch1:CFP",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
time_course_df.describe()

In [ ]:
time_course_df.drop(['column1','column2'],axis=1).head()

In [ ]:
time_course_df.isnull()

In [ ]:
time_course_df.isnull().sum()

In [ ]:
pd.value_counts(time_course_df['Image: S1(1-342)-C + Y.hCAD']).plot.bar()

In [ ]:
time_course_df['Image: S1(1-342)-C + Y.hCAD'].mean()

In [ ]:
time_course_df.groupby(['Object - 1 Mean Intensity (ADU), ch1:CFP']).mean()

In [ ]:
time_course_df.groupby(['Object - 1 Mean Intensity (ADU), ch1:CFP', 'Object - 5 Mean Intensity (ADU), ch1:CFP']).mean()

In [ ]:
time_course_df[time_course_df['age']<18].groupby(['Object - 1 Mean Intensity (ADU), ch1:CFP', 'Object - 5 Mean Intensity (ADU), ch1:CFP']).mean()